<p-select
  [formControl]="control"
  [options]="zones"
  optionLabel="name"
  optionValue="id"
  placeholder="Selecciona zona"
  [filter]="true"
  filterBy="name,code"
  appendTo="body"
  styleClass="w-full"
  (onChange)="onSelected($event.value)"
>
  <ng-template let-zone pTemplate="item">
    <div class="flex justify-content-between align-items-center gap-2">
      <span>{{ zone.name }}</span>
      <small class="text-500">
        {{ toNumber(zone.prices?.[0]?.price) | currency:'USD':'symbol':'1.2-2' }}
      </small>
    </div>
  </ng-template>
</p-select>
