<h2>Crear Cliente</h2>

<app-client-form
  [loading]="loading"
  [disabled]="!!clientIdCreated"
  (submitForm)="onSubmit($event)"
></app-client-form>

<div *ngIf="clientIdCreated" class="mt-4">
  <!-- TELÉFONOS -->
  <h3>Teléfonos</h3>

  <app-client-phone-input
    [clientId]="clientIdCreated"
    [phoneToEdit]="selectedPhone"
    (phoneSaved)="onPhoneSaved()"
  ></app-client-phone-input>

  <div *ngIf="selectedPhone" class="mt-2">
    <button
      pButton
      label="Cancelar edición"
      icon="pi pi-times"
      class="p-button-secondary"
      (click)="onCancelEditPhone()"
    ></button>
  </div>

  <ng-container *ngIf="phones$ | async as phones">
    <app-client-phone-list
      [phones]="getClientPhones(phones)"
      [loading]="(loadingPhones$ | async) ?? false"
      (edit)="onEditPhone($event)"
      (delete)="onDeletePhone($event)"
    ></app-client-phone-list>
  </ng-container>

  <!-- DIRECCIONES -->
  <h3 class="mt-4">Direcciones</h3>

  <app-client-address-input
    [clientId]="clientIdCreated"
    [addressToEdit]="selectedAddress"
    (addressSaved)="onAddressSaved()"
  ></app-client-address-input>

  <div *ngIf="selectedAddress" class="mt-2">
    <button
      pButton
      label="Cancelar edición"
      icon="pi pi-times"
      class="p-button-secondary"
      (click)="onCancelEditAddress()"
    ></button>
  </div>

  <ng-container *ngIf="addresses$ | async as addresses">
    <app-client-address-list
      [addresses]="getClientAddresses(addresses)"
      [loading]="(loadingAddresses$ | async) ?? false"
      (edit)="onEditAddress($event)"
      (delete)="onDeleteAddress($event)"
    ></app-client-address-list>
  </ng-container>
</div>
